<html>
  <head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}"
  <body>
    <div class = 'pane'>
        <div class = 'header'>
          <h1>Restaurant List</h1>
        </div>
        <a href='{{url_for('newRestaurant')}}'>Create New Restaurant</a>
        <br><br>
        <div class = 'flash'>
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <ul>
              {% for message in messages %}
                <li><strong> {{ message }} </strong></li>
              {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
        </div>

        {% if items %}
          <!-- The line of code below with the single bracket and a percent sign on either side is logical code-->
          {% for i in items %}
          <!-- The double brackets indicate the code that we want its results printed into the html document itself-->
          {{i.name}}
          <br>
          <a href='{{url_for('editRestaurant', restaurant_id=i.id)}}'>Edit</a>
          <br>
          <a href='{{url_for('deleteRestaurant', restaurant_id=i.id)}}'>Delete</a>
          <br><br>
          {% endfor %}
        {% else %}
          <p>You currently have no restaurants in the list</p>
        {% endif %}
    </div>
  </body>
</html>
