<html>
  <body>
    <a href='{{url_for('newRestaurant')}}'>Create New Restaurant</a>
    <br><br>
    {% if items %}
      <!-- The line of code below with the single bracket and a percent sign on either side is logical code-->
      {% for i in items %}
      <!-- The double brackets indicate the code that we want its results printed into the html document itself-->
      {{i.name}}
      <br>
      <a href='{{url_for('editRestaurant', restaurant_id=i.id)}}'>Edit</a>
      <br>
      <a href='{{url_for('deleteRestaurant', restaurant_id=i.id)}}'>Delete</a>
      <br><br>
      {% endfor %}
    {% else %}
      <p>You currently have no restaurants in the list</p>
    {% endif %}
  </body>
</html>
